# Direnv: configure Codex CLI to use repo-local prompts
export CODEX_HOME="/home/floodboy/catlab-kit/.codex"
# export CODEX_PROMPTS_DIR="$CODEX_HOME/prompts"

export Z_API_KEY="87c374dc7f514020889b7774f759c0ae.JXyWm1va7In2aYkz"
alias zz="CLAUDE_CONFIG_DIR=~/.claude-zz ANTHROPIC_BASE_URL=https://api.z.ai/api/anthropic ANTHROPIC_AUTH_TOKEN=$Z_API_KEY ANTHROPIC_MODEL=glm-4.5 claude"
